<h1>Padel Matches</h1>

<ul class="flex flex-col gap-2">
    {{ if .Matches }} {{ range .Matches }}
    <li>
        <a class="button-secondary" href="/matches/{{.ID}}"
            >{{if .Name}}{{.Name}}{{else}}Match {{.ID}}{{end}} (ID: {{.ID}})</a
        >
    </li>
    {{ end }}
    <li>
        <a hx-post="/matches" class="button-primary cta">Add new match!</a>
    </li>
    {{ else }}
    <li>
        <a hx-post="/matches" class="button-primary cta">Create your first match! </a>
    </li>
    {{ end }}
</ul>
