@import "tailwindcss";
@import "./material-theme.css";
@import "./button.css";
@import "./typography.css";
@import "./form.css";

@source "../**/*.{html,js,go}";

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: color-mix(in oklch, currentColor 35%, transparent) transparent;
  }

  [x-cloak] {
    display: none !important;
  }
}